paralax_movie
.ipynb_checkpoints
Untitled.ipynb
run_file_old.ipynb
profiler_script.py
run_file_5_29.ipynb

ens_shape_movie.npy
ensemble_movie.hdf
poisson_eq.ipynb
test_remove_divergence.ipynb
optimal_optical.py


__pycache__/
elevation_data/
results/
data/
movies/
plots/
logs/

*.nc
*.txt
*.h5
*.lprof
*.png
*_old*
*Copy*.ipynb
plot*.ipynb
delete*
Untitled*
optical_flow*
*.egg-info
